In [1]:
# Import the logging module, which is used for tracking events that happen when code runs.
# Import the sys module, which provides access to some variables used or maintained by the Python interpreter.
import logging
import sys

# Configure the logging module to output log messages to stdout (standard output, usually the terminal).
# The level parameter sets the threshold for what messages will be logged. INFO means that all messages of level INFO and above will be logged.
# force=True ensures that the configuration is applied even if there are other handlers already configured.
logging.basicConfig(stream=sys.stdout, level=logging.INFO, force=True)

# Get the root logger and add a handler to it. This handler will also output log messages to stdout.
# This is done to ensure that log messages are displayed in the environment where the script is running.
logging.getLogger().addHandler(logging.StreamHandler(stream=sys.stdout))

# Import the Markdown class from the IPython.display module, which is used to display Markdown formatted text in Jupyter notebooks.
from IPython.display import Markdown, display

## Establish connection with PostgreSQL database

In [3]:
# Import the create_engine and text functions from the sqlalchemy module.
# create_engine is used to create a connection to the database.
# text is used to create SQL expressions.
from sqlalchemy import create_engine, text

# Define the database credentials and connection details.
db_user = "postgres"
db_password = "postgres"
db_host = "localhost"
db_port = "5432"
db_name = "youtube_data"

# Construct the connection string using the defined credentials and connection details.
# The format is specific to PostgreSQL databases.
connection_string = f"postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"

# Create an engine instance using the connection string.
# The engine is the starting point for any SQLAlchemy application.
# It's "home base" for the actual database and its DBAPI, delivered to the SQLAlchemy application through a connection pool and a Dialect.
engine = create_engine(connection_string)

# Test the connection to the database by executing a raw SQL query.
# This is done within a context manager to ensure that the connection is properly closed after use.
with engine.connect() as connection:
    # Execute a SQL query to select the first 3 rows from the 'cities_chart' table.
    # The text function is used to create a SQL expression from the provided string.
    result = connection.execute(text("select * from cities_chart limit 3"))
    
    # Iterate over the result set, printing each row.
    for row in result:
        print(row)

(datetime.date(2020, 6, 28), '0x164b85cef5ab402d:0x8467b6b037a24d49', 'Addis Ababa', 0)
(datetime.date(2020, 6, 29), '0x164b85cef5ab402d:0x8467b6b037a24d49', 'Addis Ababa', 0)
(datetime.date(2020, 6, 30), '0x164b85cef5ab402d:0x8467b6b037a24d49', 'Addis Ababa', 0)

In [ ]:
## Description of tables

In [4]:
# Descriging each table for accurate SQL
table_details = {
"cities_chart": "",
"cities_table": "",
"content_type_chart": "",
"content_type_table ": "",
"device_type_chart ": "",
"device_type_table ": "",
"geography_chart": "",
"geography_table": "",
"new_and_returning_viewers_chart": "",
"new_and_returning_viewers_table": "",
"operating_system_chart": "",
"operating_system_table": "",
"sharing_service_chart": "",
"sharing_service_table": "",
"subscription_source_chart": "",
"subscription_source_table": "",
"subscription_status_chart": "",
"subscription_status_table": "", 
"subtitles_and_cc_chart": "",
"subtitles_and_cc_table": "",
"traffic_source_chart": "",
"traffic_source_table": "",
"viewer_age_table": "",
"viewer_gender_table": "", 
"viewership_by_age_table": "",
"viewership_by_date_table": ""
}

In [ ]:
## Listing all tables

In [8]:
# Importing the SQLDatabase class from the llama_index.core module
from llama_index.core import SQLDatabase

# Creating an instance of SQLDatabase with the specified engine and sample_rows_in_table_info parameter set to 2
# Note: The include_tables parameter is commented out, so only the tables specified in the tables list will be included
sql_database = SQLDatabase(engine, sample_rows_in_table_info=2)

# Listing all tables in the SQL database
list(sql_database._all_tables)

['traffic_source_table',
 'viewership_by_date_table',
 'traffic_source_chart',
 'content_type_chart',
 'cities_chart',
 'device_type_table',
 'viewership_by_age_table',
 'device_type_chart',
 'new_and_returning_viewers_table',
 'subscription_status_table',
 'sharing_service_chart',
 'cities_chart_data',
 'operating_system_table',
 'new_and_returning_viewers_chart',
 'subscription_status_chart',
 'subtitles_and_cc_table',
 'geography_table',
 'viewer_gender_table',
 'sharing_service_table',
 'cities_table',
 'geography_chart',
 'operating_system_chart',
 'subtitles_and_cc_chart',
 'subscription_source_chart',
 'viewer_age_table',
 'subscription_source_table',
 'content_type_table']

In [ ]:
## Displaying metadata - each column in each table

In [10]:
# Importing necessary modules from SQLAlchemy
from sqlalchemy import MetaData

# Creating an engine instance for connecting to the PostgreSQL database
# Replace the placeholders with actual database credentials
engine = create_engine(f"postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")

# Creating a MetaData instance
metadata = MetaData()

# Reflecting the database schema to load table metadata
metadata.reflect(bind=engine)

# Iterating through each table in the database
for table_name, table in metadata.tables.items():
    # Printing the name of the current table
    print(f"Table Name: {table_name}")
    
    # Printing the names of the columns in the current table
    print(f"Columns: {table.columns.keys()}")

Table Name: cities_table
Columns: ['cities', 'cityname', 'geography', 'geography1', 'views', 'watchtimehours', 'averageviewduration']
Table Name: cities_chart
Columns: ['date', 'cities', 'cityname', 'views']
Table Name: viewership_by_age_table
Columns: ['date', 'views', 'watchtimehours', 'averageviewduration']
Table Name: content_type_table
Columns: ['Content type', 'Views', 'Watch time (hours)', 'Average view duration']
Table Name: content_type_chart
Columns: ['Date', 'Content type', 'Views']
Table Name: device_type_table
Columns: ['Device type', 'Views', 'Watch time (hours)', 'Average view duration']
Table Name: device_type_chart
Columns: ['Date', 'Device type', 'Views']
Table Name: geography_table
Columns: ['Geography', 'Views', 'Watch time (hours)', 'Average view duration']
Table Name: geography_chart
Columns: ['Date', 'Geography', 'Views']
Table Name: new_and_returning_viewers_table
Columns: ['New and returning viewers', 'Views', 'Watch time (hours)', 'Average view duration']
Table Name: new_and_returning_viewers_chart
Columns: ['Date', 'New and returning viewers', 'Views']
Table Name: viewership_by_date_table
Columns: ['Date', 'Views', 'Watch time (hours)', 'Average view duration']
Table Name: viewer_gender_table
Columns: ['Viewer gender', 'Views (%)', 'Average view duration', 'Average percentage viewed (%)', 'Watch time (hours) (%)']
Table Name: viewer_age_table
Columns: ['Viewer age', 'Views (%)', 'Average view duration', 'Average percentage viewed (%)', 'Watch time (hours) (%)']
Table Name: traffic_source_table
Columns: ['Traffic source', 'Views', 'Watch time (hours)', 'Average view duration', 'Impressions', 'Impressions click-through rate (%)']
Table Name: traffic_source_chart
Columns: ['Date', 'Traffic source', 'Views']
Table Name: subtitles_and_cc_table
Columns: ['Subtitles and CC', 'Views', 'Watch time (hours)', 'Average view duration']
Table Name: subtitles_and_cc_chart
Columns: ['Date', 'Subtitles and CC', 'Views']
Table Name: subscription_status_table
Columns: ['Subscription status', 'Views', 'Watch time (hours)', 'Average view duration']
Table Name: subscription_status_chart
Columns: ['Date', 'Subscription status', 'Views']
Table Name: subscription_source_table
Columns: ['Subscription source', 'Subscribers', 'Subscribers gained', 'Subscribers lost']
Table Name: subscription_source_chart
Columns: ['Date', 'Subscription source', 'Subscribers']
Table Name: sharing_service_table
Columns: ['Sharing service', 'Shares']
Table Name: sharing_service_chart
Columns: ['Date', 'Sharing service', 'Shares']
Table Name: operating_system_table
Columns: ['Operating system', 'Views', 'Watch time (hours)', 'Average view duration']
Table Name: operating_system_chart
Columns: ['Date', 'Operating system', 'Views']
Table Name: cities_chart_data
Columns: ['date', 'cities', 'cityname', 'views']

In [ ]:
## Assign API key to OpenAI module

In [18]:
import os
from dotenv import load_dotenv
import openai

# Load environment variables from.env file
load_dotenv()

# Access OPENAI_API_KEY using os.environ
OPENAI_API_KEY = os.environ.get("OPENAI_API_KEY")

# Set the OPENAI_API_KEY environment variable
os.environ["OPENAI_API_KEY"] = OPENAI_API_KEY

# Assign the API key to the openai module
openai.api_key = os.environ["OPENAI_API_KEY"]

##  Working with the OpenAI language model, text splitting, embedding, and prompt handling.

In [24]:
# Import necessary modules and classes
from llama_index.core import ServiceContext, PromptHelper
from llama_index.embeddings.openai import OpenAIEmbedding
from llama_index.llms.openai import OpenAI
from llama_index.core.text_splitter import TokenTextSplitter
from llama_index.core.node_parser import SimpleNodeParser

# Instantiate the OpenAI language model with specific parameters
language_model = OpenAI(model="gpt-3.5-turbo", temperature=0.1)

# Initialize the OpenAIEmbedding model
embedding_model = OpenAIEmbedding()

# Instantiate a TokenTextSplitter for splitting text into chunks
text_splitter_instance = TokenTextSplitter(chunk_size=1024, chunk_overlap=20)

# Initialize a SimpleNodeParser instance
# Note: Modify this line if `text_splitter` is not a valid argument for SimpleNodeParser
node_parser_instance = SimpleNodeParser()

# Instantiate a PromptHelper with specified parameters
prompt_helper_instance = PromptHelper(
    context_window=4096,
    num_output=256,
    chunk_overlap_ratio=0.1,
    chunk_size_limit=None,
)

# Instantiate a ServiceContext with the specified components
service_context_instance = ServiceContext.from_defaults(
    llm=language_model,
    embed_model=embedding_model,
    node_parser=node_parser_instance,
    prompt_helper=prompt_helper_instance,
)

/tmp/ipykernel_6679/3338376055.py:22: DeprecationWarning: Call to deprecated class method from_defaults. (ServiceContext is deprecated, please use `llama_index.settings.Settings` instead.) -- Deprecated since version 0.10.0.
  service_context = ServiceContext.from_defaults(

In [ ]:
## Creating an instance of NLSQLTableQueryEngine

In [27]:
# Importing the NLSQLTableQueryEngine from the llama_index.core.indices.struct_store.sql_query module
from llama_index.core.indices.struct_store.sql_query import NLSQLTableQueryEngine

# Creating an instance of NLSQLTableQueryEngine
# This engine is configured with the specified SQL database and service context
query_engine = NLSQLTableQueryEngine(
    sql_database=sql_database,
    service_context=service_context_instance
)

In [ ]:
## Assigning a natural language query to a variable and execution

In [32]:
# Defining the query string to ask about the highest view for Addis Ababa
query_str = "when was the highest view in Addis Ababa?"

# Executing the query using the NLSQLTableQueryEngine
response = query_engine.query(query_str)

INFO:llama_index.core.indices.struct_store.sql_retriever:> Table desc str: Table 'cities_chart' has columns: date (TEXT), cities (TEXT), cityname (TEXT), views (INTEGER), and foreign keys: ['cityname'] -> cities_table.['cityname'].

Table 'cities_chart_data' has columns: date (DATE), cities (TEXT), cityname (TEXT), views (INTEGER), and foreign keys: .

Table 'cities_table' has columns: cities (TEXT), cityname (TEXT), geography (TEXT), geography1 (TEXT), views (INTEGER), watchtimehours (DOUBLE PRECISION), averageviewduration (TEXT), and foreign keys: .

Table 'content_type_chart' has columns: Date (TEXT), Content type (TEXT), Views (TEXT), and foreign keys: .

Table 'content_type_table' has columns: Content type (TEXT), Views (TEXT), Watch time (hours) (TEXT), Average view duration (TEXT), and foreign keys: .

Table 'device_type_chart' has columns: Date (TEXT), Device type (TEXT), Views (TEXT), and foreign keys: .

Table 'device_type_table' has columns: Device type (TEXT), Views (TEXT), Watch time (hours) (TEXT), Average view duration (TEXT), and foreign keys: .

Table 'geography_chart' has columns: Date (TEXT), Geography (TEXT), Views (TEXT), and foreign keys: .

Table 'geography_table' has columns: Geography (TEXT), Views (TEXT), Watch time (hours) (TEXT), Average view duration (TEXT), and foreign keys: .

Table 'new_and_returning_viewers_chart' has columns: Date (TEXT), New and returning viewers (TEXT), Views (TEXT), and foreign keys: .

Table 'new_and_returning_viewers_table' has columns: New and returning viewers (TEXT), Views (TEXT), Watch time (hours) (TEXT), Average view duration (TEXT), and foreign keys: .

Table 'operating_system_chart' has columns: Date (TEXT), Operating system (TEXT), Views (TEXT), and foreign keys: .

Table 'operating_system_table' has columns: Operating system (TEXT), Views (TEXT), Watch time (hours) (TEXT), Average view duration (TEXT), and foreign keys: .

Table 'sharing_service_chart' has columns: Date (TEXT), Sharing service (TEXT), Shares (TEXT), and foreign keys: .

Table 'sharing_service_table' has columns: Sharing service (TEXT), Shares (TEXT), and foreign keys: .

Table 'subscription_source_chart' has columns: Date (TEXT), Subscription source (TEXT), Subscribers (TEXT), and foreign keys: .

Table 'subscription_source_table' has columns: Subscription source (TEXT), Subscribers (TEXT), Subscribers gained (TEXT), Subscribers lost (TEXT), and foreign keys: .

Table 'subscription_status_chart' has columns: Date (TEXT), Subscription status (TEXT), Views (TEXT), and foreign keys: .

Table 'subscription_status_table' has columns: Subscription status (TEXT), Views (TEXT), Watch time (hours) (TEXT), Average view duration (TEXT), and foreign keys: .

Table 'subtitles_and_cc_chart' has columns: Date (TEXT), Subtitles and CC (TEXT), Views (TEXT), and foreign keys: .

Table 'subtitles_and_cc_table' has columns: Subtitles and CC (TEXT), Views (TEXT), Watch time (hours) (TEXT), Average view duration (TEXT), and foreign keys: .

Table 'traffic_source_chart' has columns: Date (TEXT), Traffic source (TEXT), Views (TEXT), and foreign keys: .

Table 'traffic_source_table' has columns: Traffic source (TEXT), Views (TEXT), Watch time (hours) (TEXT), Average view duration (TEXT), Impressions (TEXT), Impressions click-through rate (%) (TEXT), and foreign keys: .

Table 'viewer_age_table' has columns: Viewer age (TEXT), Views (%) (TEXT), Average view duration (TEXT), Average percentage viewed (%) (TEXT), Watch time (hours) (%) (TEXT), and foreign keys: .

Table 'viewer_gender_table' has columns: Viewer gender (TEXT), Views (%) (TEXT), Average view duration (TEXT), Average percentage viewed (%) (TEXT), Watch time (hours) (%) (TEXT), and foreign keys: .

Table 'viewership_by_age_table' has columns: date (TEXT), views (DOUBLE PRECISION), watchtimehours (DOUBLE PRECISION), averageviewduration (TEXT), and foreign keys: .

Table 'viewership_by_date_table' has columns: Date (TEXT), Views (TEXT), Watch time (hours) (TEXT), Average view duration (TEXT), and foreign keys: .
> Table desc str: Table 'cities_chart' has columns: date (TEXT), cities (TEXT), cityname (TEXT), views (INTEGER), and foreign keys: ['cityname'] -> cities_table.['cityname'].

Table 'cities_chart_data' has columns: date (DATE), cities (TEXT), cityname (TEXT), views (INTEGER), and foreign keys: .

Table 'cities_table' has columns: cities (TEXT), cityname (TEXT), geography (TEXT), geography1 (TEXT), views (INTEGER), watchtimehours (DOUBLE PRECISION), averageviewduration (TEXT), and foreign keys: .

Table 'content_type_chart' has columns: Date (TEXT), Content type (TEXT), Views (TEXT), and foreign keys: .

Table 'content_type_table' has columns: Content type (TEXT), Views (TEXT), Watch time (hours) (TEXT), Average view duration (TEXT), and foreign keys: .

Table 'device_type_chart' has columns: Date (TEXT), Device type (TEXT), Views (TEXT), and foreign keys: .

Table 'device_type_table' has columns: Device type (TEXT), Views (TEXT), Watch time (hours) (TEXT), Average view duration (TEXT), and foreign keys: .

Table 'geography_chart' has columns: Date (TEXT), Geography (TEXT), Views (TEXT), and foreign keys: .

Table 'geography_table' has columns: Geography (TEXT), Views (TEXT), Watch time (hours) (TEXT), Average view duration (TEXT), and foreign keys: .

Table 'new_and_returning_viewers_chart' has columns: Date (TEXT), New and returning viewers (TEXT), Views (TEXT), and foreign keys: .

Table 'new_and_returning_viewers_table' has columns: New and returning viewers (TEXT), Views (TEXT), Watch time (hours) (TEXT), Average view duration (TEXT), and foreign keys: .

Table 'operating_system_chart' has columns: Date (TEXT), Operating system (TEXT), Views (TEXT), and foreign keys: .

Table 'operating_system_table' has columns: Operating system (TEXT), Views (TEXT), Watch time (hours) (TEXT), Average view duration (TEXT), and foreign keys: .

Table 'sharing_service_chart' has columns: Date (TEXT), Sharing service (TEXT), Shares (TEXT), and foreign keys: .

Table 'sharing_service_table' has columns: Sharing service (TEXT), Shares (TEXT), and foreign keys: .

Table 'subscription_source_chart' has columns: Date (TEXT), Subscription source (TEXT), Subscribers (TEXT), and foreign keys: .

Table 'subscription_source_table' has columns: Subscription source (TEXT), Subscribers (TEXT), Subscribers gained (TEXT), Subscribers lost (TEXT), and foreign keys: .

Table 'subscription_status_chart' has columns: Date (TEXT), Subscription status (TEXT), Views (TEXT), and foreign keys: .

Table 'subscription_status_table' has columns: Subscription status (TEXT), Views (TEXT), Watch time (hours) (TEXT), Average view duration (TEXT), and foreign keys: .

Table 'subtitles_and_cc_chart' has columns: Date (TEXT), Subtitles and CC (TEXT), Views (TEXT), and foreign keys: .

Table 'subtitles_and_cc_table' has columns: Subtitles and CC (TEXT), Views (TEXT), Watch time (hours) (TEXT), Average view duration (TEXT), and foreign keys: .

Table 'traffic_source_chart' has columns: Date (TEXT), Traffic source (TEXT), Views (TEXT), and foreign keys: .

Table 'traffic_source_table' has columns: Traffic source (TEXT), Views (TEXT), Watch time (hours) (TEXT), Average view duration (TEXT), Impressions (TEXT), Impressions click-through rate (%) (TEXT), and foreign keys: .

Table 'viewer_age_table' has columns: Viewer age (TEXT), Views (%) (TEXT), Average view duration (TEXT), Average percentage viewed (%) (TEXT), Watch time (hours) (%) (TEXT), and foreign keys: .

Table 'viewer_gender_table' has columns: Viewer gender (TEXT), Views (%) (TEXT), Average view duration (TEXT), Average percentage viewed (%) (TEXT), Watch time (hours) (%) (TEXT), and foreign keys: .

Table 'viewership_by_age_table' has columns: date (TEXT), views (DOUBLE PRECISION), watchtimehours (DOUBLE PRECISION), averageviewduration (TEXT), and foreign keys: .

Table 'viewership_by_date_table' has columns: Date (TEXT), Views (TEXT), Watch time (hours) (TEXT), Average view duration (TEXT), and foreign keys: .
INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"

In [ ]:
## Printing response

In [33]:
# Printing response
print(response.response)

The highest view in Addis Ababa was on [date], with [number of views].

In [ ]:
## Processed SQL query

In [34]:
# Printing processed SQL query
print(response.metadata['sql_query'])

SELECT date, views
FROM cities_chart
WHERE cityname = 'Addis Ababa'
ORDER BY views DESC
LIMIT 1;